@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  /* VARIABLES  */
  --black: rgb(43, 43, 43);
  --pink: #dd97ad;
  --pink-dark: #d5618a;
  --pink-light: #fdbed6;
  --yellow: #ffe1aa;
  --green: #15716e;
  --white: #fff;
  --off-white: #edebeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--off-white);
}

/* HEADER  */
header {
  padding: 0.5rem 1rem;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h1,
.selected-dog-name {
  font-family: 'Bebas Neue', sans-serif;
}

.header-btn {
  background-color: var(--green);
  color: var(--white);
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 1rem;
  margin: 1rem auto;
  border: none;
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--white);
  color: var(--green);
}

/* MAIN  */
main {
  display: flex;
  justify-content: center;
  padding: 1rem 0.25rem;
}

/* COMPONENTS  */

/* TABLE */
table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: var(--pink-dark);
}

thead th {
  text-align: left;
}

th,
td {
  font-size: 0.8rem;
  padding: 0.4rem 0.2rem;
}

tr.selected {
  background-color: var(--pink-light);
}

.cat-cell::before {
  content: attr(data-short-text);
}

.status-cell::before {
  content: attr(data-short-text);
}

/* MODAL FOR SELECTED DOG  */
.modal {
  border: none;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--black);
  margin: 3rem auto;
  width: 90%;
  max-width: 64rem;
  position: relative;
}

.modal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.modal::backdrop {
  background-color: rgba(43, 43, 43, 0.8);
}

.modal-content {
  display: flex;
  flex-direction: column;
}

/* LEFT SIDE / TOP HALF --- TEXT  */
.selected-dog-name {
  line-height: 1;
}
.selected-dog-name .status {
  display: block;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1rem;
}

.selected-dog-name .pending {
  color: var(--pink);
  font-weight: 400;
}
.selected-dog-name .unavailable {
  color: var(--pink-dark);
  font-weight: 400;
}
.selected-dog-name .available {
  font-weight: 400;
}

.selected-dog-no-cats {
  font-weight: 700;
  background-color: var(--pink-dark);
  color: var(--black);
}
.selected-dog-yes-cats {
  background-color: var(--green);
}
.selected-dog-no-cats,
.selected-dog-yes-cats {
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 20px;
}

.selected-dog-info {
  padding: 0.5rem;
  width: 100%;
}

.selected-dog-extra.major {
  display: flex;
  margin-bottom: 1rem;
}

.selected-dog-extra.major li {
  margin-right: 0.5rem;
}

.selected-dog-sex {
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.female {
  background-color: var(--yellow);
  color: var(--black);
}

.male {
  background-color: var(--green);
  color: var(--white);
}

.selected-dog-bio {
  white-space: pre-wrap;
}

.selected-dog-extra.minor {
  margin-top: 0.75rem;
}
.traits {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.traits .trait-title {
  margin-right: 0.5rem;
}

.traits .pedigree {
  margin-right: 0.25rem;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  border-radius: 20px;
}

.selected-dog-video-link {
  background-color: var(--pink-dark);
  color: var(--white);
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin-top: 1rem;
}

.selected-dog-video-link:hover,
.selected-dog-video-link:focus {
  background-color: var(--pink-light);
  color: var(--black);
}

.nav-btn {
  background: transparent;
  height: 4rem;
  width: 1rem;
  position: relative;
  padding: 10px 25px;
  border:none;
}

.nav-btn::before {
  content: "";
  position: absolute;
  display: inline-block;
  border: 1rem solid transparent;
  top: 50%;
  transform: translateY(-50%);
}

.nav-btn.prev::before {
  border-right-color: var(--white); 
  left: 10px; 
}
.nav-btn.next::before {
  border-left-color: var(--white); 
  left: 10px; 
}

/* RIGHT SIDE / BOTTOM HALF --- MEDIA   */

.selected-dog-media {
  background-color: var(--pink);
  margin-top: 1rem;
  padding: 0.75rem;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  border-radius: 4px;
  width: 100%;
}

.close-modal-btn {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  border-color: var(--black);
}



@media screen and (min-width: 768px) {
  .header-btn {
    margin: 1rem;
  }

  header,
  main {
    padding: 1rem 2rem;
  }

  th,
  td {
    font-size: 1.2rem;
    padding: 0.5rem 0.25rem;
  }

  .cat-cell::before {
    content: attr(data-long-text);
  }

  .status-cell::before {
    content: attr(data-long-text);
  }

  .selected-dog-name {
    line-height: 1.5;
  }
  .selected-dog-name .status {
    display: inline-block;
    font-size: 1.25rem;
    margin-left: 1rem;
  }

  .selected-dog-info {
    padding: 1rem 1.5rem;
  }
  .image-container img {
    width: 60%;
  }
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  header,
  main {
    padding: 2rem;
  }

  .modal {
    margin: 8rem auto;
  }

  .modal-content {
    flex-direction: row;
  }

  .close-modal-btn {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    border-color: var(--pink-dark);
  }

  .selected-dog-media {
    margin-top: 0;
    display: flex;
    align-items: center;
  }

  .selected-dog-info {
    padding: 2rem;
    width: 70%;
  }

  .selected-dog-info {
    display: flex;
    flex-direction: column;
  }

  .traits:nth-of-type(3) {
    display: flex;
    align-items: center;
  }

  .selected-dog-video-link {
    width: fit-content;
    align-self: flex-end;
  }
}




@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-width: 425px) {
  th,
  td {
    font-size: 1rem;
    padding: 0.4rem 0.2rem;
  }

  .image-container img {
    width: 80%;
  }
}