@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  /* VARIABLES  */
  --black: rgb(43, 43, 43);
  --dark-grey: #545454;
  --grey: #959092;
  --light-grey: #c8c8c8;
  --pink: #dd97ad;
  --pink-dark: #d5618a;
  --pink-light: #fdbed6;
  --pink-lightest: #fee7ef;
  --yellow: #ffe1aa;
  --green: #15716e;
  --white: #fff;
  --off-white: #edebeb;
  --lilac: #e1aaff;
  --green-cyan: #aaffe1;
  --border-radius-small: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--off-white);
}

strong {
  font-weight: normal;
}

.warning {
  color: var(--pink-dark);
  font-weight: 700;
}

.clickable {
  cursor: pointer;
}

/* HEADER  */
header,
main {
  padding: 0.25rem 0.25rem;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h1,
.selected-dog-name {
  font-family: 'Bebas Neue', sans-serif;
}

.header-btns-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  margin-top: 1rem;
}
.main-btn {
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 1rem;
  border-style: solid;
}

.main-btn.default {
  background-color: var(--white);
  border-color: var(--black);
  color: var(--black);
}
.main-btn.default:hover,
.main-btn.default:focus {
  color: var(--white);
  background-color: var(--black);
  border-color: var(--black);
}
.main-btn.default:disabled {
  pointer-events: none;
  background-color: var(--grey);
  border-color: var(--grey);
  color: var(--black);
}

.main-btn.green {
  background-color: var(--green);
  border-color: var(--green);
  color: var(--white);
}
.main-btn.green:hover,
.main-btn.green:focus {
  color: var(--green);
  background-color: var(--white);
}

.main-btn.lilac {
  background-color: var(--lilac);
  border-color: var(--lilac);
  color: var(--black);
}
.main-btn.lilac:hover,
.main-btn.lilac:focus {
  background-color: var(--white);
  color: var(--dark-grey);
}

.main-btn.cyan {
  background-color: var(--green-cyan);
  border-color: var(--green-cyan);
  color: var(--black);
}
.main-btn.cyan:hover,
.main-btn.cyan:hover {
  background-color: var(--white);
  color: var(--dark-grey);
}

/* MAIN  */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* COMPONENTS  */

/* FILTERS: select on mob, button group on desk/900 */
.button-filter-section {
  display: none;
}

.select-filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--dark-grey);
  background-color: var(--white);
  border-radius: var(--border-radius-small);
  margin-bottom: 0.25rem;
  width: 100%;
}
/* SELECT FILTER  */
.select-filter {
  padding: 0.25rem;
  color: var(--black);
  margin-bottom: 0.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-filter label {
  margin-right: 0.25rem;
}
.select-filter .select {
  padding: 0.25rem 0.5rem;
}

.select-filter .select,
.select-filter .select::picker(select) {
  appearance: base-select;
}
.select-filter::picker(select) {
  background-color: var(--white);
  border: 1px solid var(--dark-grey);
  border-radius: var(--border-radius-small);
}

/* Style the options within the picker */
.select-filter option {
  padding: 10px;
  color: var(--dark-grey);
}

.select.cats,
.select-filter.cat option {
  width: 12rem;
}

.select.sex,
.select-filter.sex option {
  width: 7rem;
}

/* TABLE */
.table-container {
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: var(--pink);
  height: 3rem;
}

thead th {
  text-align: left;
}

th,
td {
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem;
}

/* SORTABLE COLUMNS  */
.table-head-sort-col {
  position: relative;
}
.table-head-sort-col.desktop {
  display: none;
}
.table-head-sort-col.mobile {
  display: block;
}

.sortable-table-head .table-head-unsorted-icon {
  display: inline-block;
  transform: rotate(90deg);
}

/* .sortable-table-head.sorted .table-head-sorted-icon {
  position: absolute;
  font-size: 0.9rem;
  top: 0.1rem;
  left: auto;
  margin-left: 0.8rem;
  } */

/* EXPANDABLE ROW  */
.dog-name {
  position: relative;
}

.expand-chevron {
  position: absolute;
  right: 0;
  top: 10px;
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  border-left: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  transform: rotate(-45deg);
  transition: all 0.2s;
}

.expand-chevron.opened {
  transform: rotate(135deg);
  transition: all 0.2s;
}
.detail-row-media-desktop {
  display: none;
}
.detail-row-media-mobile {
  margin: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.detail-row-media-mobile.detail-row-image-container {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 0.5rem;
}

.detail-row-media-desktop .detail-row-image-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.detail-row-media-desktop .detail-row-image img,
.detail-row-media-mobile.detail-row-image-container img {
  width: 100%;
}

.detail-row-media-desktop .detail-row-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.detail-row-media-desktop .detail-row-image img {
  object-fit: cover;
}

.detail-row-video-link {
  background-color: var(--pink-dark);
  color: var(--white);
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  align-self: center;
}

.detail-row-video-link:hover,
.detail-row-video-link:focus {
  background-color: var(--pink-light);
  color: var(--black);
}

.detail-pedigree {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.main-row.selected {
  background-color: var(--pink);
}
.main-row.selected.expandable.selected {
  background-color: var(--pink-light);
}

.detail-row {
  display: none;
  height: 0;
}

.detail-row.open {
  display: table-row;
  height: auto;
  animation: expand 0.4s ease;
  background-color: var(--pink-light);
}
.detail-row.open td {
  padding: 0.25rem 0.25rem;
}
.detail-row.open .details-container {
  background-color: var(--white);
  padding: 0.25rem 0.25rem;
}
.detail-row-intro {
  color: var(--green);
}
.detail-row-bio p {
  font-weight: 700;
}

.cat-cell::before {
  content: attr(data-short-text);
}

.status-cell::before {
  content: attr(data-short-text);
}

/* MODAL FOR SELECTED DOG  */
.modal {
  border: none;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--black);
  margin: 3rem auto;
  width: 90%;
  max-width: 64rem;
  position: relative;
}

.modal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.modal::backdrop {
  background-color: rgba(43, 43, 43, 0.8);
}

.modal-content {
  display: flex;
  flex-direction: column;
}

/* LEFT SIDE / TOP HALF --- TEXT  */
.selected-dog-name {
  line-height: 1;
}
.selected-dog-name .status {
  display: block;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1rem;
}

.selected-dog-name .pending {
  color: var(--pink);
  font-weight: 400;
}
.selected-dog-name .unavailable {
  color: var(--pink-dark);
  font-weight: 400;
}
.selected-dog-name .available {
  font-weight: 400;
}

.selected-dog-no-cats {
  font-weight: 700;
  background-color: var(--pink-dark);
  color: var(--black);
}
.selected-dog-yes-cats {
  background-color: var(--green);
}
.selected-dog-no-cats,
.selected-dog-yes-cats {
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 20px;
}

.selected-dog-info {
  padding: 0.5rem;
  width: 100%;
}

.selected-dog-extra.major {
  display: flex;
  margin-bottom: 1rem;
}

.selected-dog-extra.major li {
  margin-right: 0.5rem;
}

.selected-dog-sex {
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.female {
  background-color: var(--yellow);
  color: var(--black);
}

.male {
  background-color: var(--green);
  color: var(--white);
}

.selected-dog-bio {
  white-space: pre-wrap;
}

.selected-dog-extra.minor {
  margin-top: 0.75rem;
}
.traits {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.traits .trait-title {
  margin-right: 0.5rem;
}

.pedigree {
  margin-right: 0.25rem;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  border-radius: 20px;
}

.selected-dog-video-link {
  background-color: var(--pink-dark);
  color: var(--white);
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin-top: 1rem;
}

.selected-dog-video-link:hover,
.selected-dog-video-link:focus {
  background-color: var(--pink-light);
  color: var(--black);
}

.nav-btn {
  background: transparent;
  height: 4rem;
  width: 1rem;
  position: relative;
  padding: 10px 25px;
  border: none;
  display: none;
}

.nav-btn::before {
  content: '';
  position: absolute;
  display: inline-block;
  border: 1rem solid transparent;
  top: 50%;
  transform: translateY(-50%);
}

.nav-btn.prev::before {
  border-right-color: var(--white);
  left: 10px;
}
.nav-btn.next::before {
  border-left-color: var(--white);
  left: 10px;
}

.nav-dots-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.nav-dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--dark-grey);
}

.nav-dot.active {
  background-color: var(--black);
  width: 1.1rem;
  height: 1.1rem;
}

/* RIGHT SIDE / BOTTOM HALF --- MEDIA   */

.selected-dog-media {
  background-color: var(--pink);
  margin-top: 1rem;
  padding: 0.75rem;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  border-radius: 4px;
  width: 100%;
}

.close-modal-btn {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  border-color: var(--black);
}

/* MESSAGE COMPONENT  */
.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.loading-emoji {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  border-radius: 50%;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  animation: rock 0.2s ease-in-out infinite alternate;
}

.loading-emoji.error {
  background-color: var(--pink-dark);
}

@keyframes rock {
  0% {
    /* Start position: slightly rotated left */
    transform: rotate(-10deg);
  }
  100% {
    /* End position: slightly rotated right */
    transform: rotate(10deg);
  }
}

@media screen and (min-width: 425px) {
  th,
  td {
    font-size: 1rem;
    padding: 0.6rem 0.5rem;
  }

  .selected-dog-video-link {
    justify-self: flex-start;
  }

  .image-container img {
    width: 80%;
  }

  .expand-chevron {
    top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .header-btns-container {
    flex-direction: row;
    justify-content: center;
  }

  .main-btn {
    margin: 0.25rem 0.1rem;
  }

  header,
  main {
    padding: 0.25rem 2rem;
  }

  .select-filter-section {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 90%;
  }

  .table-container {
    width: 90%;
  }

  .cat-cell::before {
    content: attr(data-long-text);
  }

  .status-cell::before {
    content: attr(data-long-text);
  }

  .selected-dog-name {
    line-height: 1.5;
  }
  .selected-dog-name .status {
    display: inline-block;
    font-size: 1.25rem;
    margin-left: 1rem;
  }

  .selected-dog-info {
    padding: 1rem 1.5rem;
  }

  .selected-dog-video-link {
    justify-self: flex-end;
  }
  .image-container img {
    width: 60%;
  }
}

/* MODAL GOES SIDE BY SIDE AT 900  */

@media screen and (min-width: 900px) {
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  header,
  main {
    padding: 0.1rem 2rem;
  }

  .select-filter-section {
    display: none;
  }

  /* BUTTON FILTER  */
  .button-filter-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
    margin-bottom: 0.25rem;
  }

  .button-filter-section .filters-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  thead {
    height: 4rem;
  }

  .table-container {
    width: 85%;
    max-width: 1200;
  }

  .table-head-sort-col.desktop {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 1rem;
  }

  .table-head-sort-col .text {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden; /* Hide the element from screen readers and interactions */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }

  .table-head-sort-col .text.show {
    opacity: 1;
    visibility: visible;
  }

  .table-head-unsorted-icon {
    position: absolute;
  }

  .table-head-unsorted-icon.name {
    left: 3rem;
  }

  .table-head-unsorted-icon.age {
    left: 2rem;
  }
  .table-head-unsorted-icon.show {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .table-head-unsorted-icon.hide {
    opacity: 0;
    transition: opacity 0.54s ease-in-out;
  }

  .table-head-sort-col.mobile {
    display: none;
  }

  .modal {
    margin: 8rem auto;
  }

  .modal-content {
    flex-direction: row;
  }

  .close-modal-btn {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    border-color: var(--pink-dark);
  }

  .selected-dog-media {
    margin-top: 0;
    display: flex;
    align-items: center;
  }

  .selected-dog-info {
    padding: 2rem;
    width: 70%;
  }

  .selected-dog-info {
    display: flex;
    flex-direction: column;
  }

  .traits:nth-of-type(3) {
    display: flex;
    align-items: center;
  }

  .selected-dog-video-link {
    width: fit-content;
    align-self: flex-end;
  }

  .nav-btn {
    display: block;
  }

  .nav-btn.hideOnHorizontal {
    display: none;
  }

  .nav-dots-container {
    display: none;
  }

  .nav-dots-container.showOnHorizontal {
    display: flex;
  }

  .main-row:hover,
  .main-row:focus {
    background-color: var(--pink-lightest);
  }

  .detail-row-media-desktop {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .detail-row-media-mobile {
    display: none;
  }
}

/* ANIMATIONS  */

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes expand {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
